
/* colours */
/* 
Dark - #3A3335
Light - #FCFCFC
Blue - #016FB9
Red - #DC493A
*/


:root {
    --bg-light: #FCFCFC;
    --bg-dark: #3A3335;
    --txt-light: #FCFCFC;
    --txt-dark: #3A3335;
    --primary: #016FB9;
    /* --accent: #DC493A; */
    --accent: #cc3300;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--bg-light);
}

body {
    min-height: 100vh;
}


header {
    background-color: var(--bg-dark);
    color: var(--txt-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & li {
        display: inline;
        margin: 1rem;
    }
    
    & img, button {
        margin: 0px 30px;
    }
}


footer {
    background-color: var(--bg-dark);
    height:auto;
    margin-top: auto;
}

img {
    border: 2px solid yellow;
}
button {
    all: unset;
}
a {
    text-decoration: none;
    color: inherit;
}

button.booknow {
    background-color: var(--accent);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

header a>button.booknow:hover {
    transform: translate(0, -3px);
    transition: 0.1s;
    text-decoration: underline;
}

header a>button.booknow:active {
    transform: translate(0,-1px);
    transition: 0.1s;
    color: var(--primary);
}
