
/* colours */
/* 
Dark - #3A3335
Light - #FCFCFC
Blue - #016FB9
Red - #DC493A
*/


:root {
    --bg-light: #FCFCFC;
    --bg-dark: #3A3335;
    --txt-light: #FCFCFC;
    --txt-dark: #3A3335;
    --primary: #016FB9;
    /* --accent: #DC493A; */
    --accent: #cc3300;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* id's to easily change the direction
    of elements within parent */
#flex-horizontal {
    display: flex;
    flex-direction: row;
}

#flex-vertical {
    display: flex;
    flex-direction: column;
}


html {
    background-color: var(--bg-light);
}

body {
    min-height: 100vh;
}

footer {
    background-color: var(--bg-dark);
    width: 100vw;
    height:auto;
    margin-top: auto;
}
    